/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: #1f242d; */
    /* background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%); */
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    /* background-image: linear-gradient(90deg, #232526 0%, #414345 100%); */
    /* background-image: linear-gradient(90deg, #77a1d3 0%, #79cbca 50%, #e684ae 100%); */
    color: #fff;
    

}


/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i))
}

.menu-icon {
    display: none;
}

.navbar a:hover,
.navbar a.active {
    color: #f6a192;
}


/* HOME */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
}

.home-content h3 {
    font-size: 54px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.roles {
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.roles .positions {
    color: #f6a192;
}

.typed-cursor {
    color: #f6a192;
}

.home-content h1 {
    font-size: 76px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 500px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.2s, 2.2s;
}

.home-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}

.home-buttons a {
    text-decoration: none;
    color: black;
    opacity: 0;
    transform: translateX(100px);
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(1s + 0.2s * var(--i));
}

.home-buttons a i {
    font-size: 25px;
    color: #f6a192;
    border: 2px solid #f6a192;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.home-buttons a i:hover {
    background: #f6a192;
    color: #1f242d;
    box-shadow: 0 0 10px #f6a192;
}

.btn {
    margin: 0;
    display: inline-block;
    padding: 12px 28px;
    background: #f6a192;
    border-radius: 40px;
    box-shadow: 0 0 10px #f6a192;
    font-size: 20px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background: #f6c492;
    box-shadow: 0 0 15px #f6c492;
}


/* ABOUT */
.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8%;
    margin-bottom: 200px;
}

.about-img img {
    max-width: 500px;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.5s ease;
    animation: floatImage 4s ease-in-out infinite;
}

.about-content {
    max-width: 50%;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease;
}

.about-content h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f6a192;
}

.about-content p {
    font-size: 20px;
    line-height: 1.8;
}

.about-img.animate img,
.about-content.animate {
    opacity: 1;
    transform: translateX(0) translateY(0);
}


/* SKILLS */
.skills {
    width: 100%;
    padding: 50px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.skills h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #f6a192;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    width: 350px;
    height: 300px;
}

.skill-item i {
    font-size: 320px;
    color: #f6a192;
    transition: color 1s ease;
}

.skill-item:hover {
    transform: scale(1.1);
}

.skill-item:hover i {
    color: #f6d992;
}

.skills.animate .skills-grid {
    opacity: 1;
    transform: translateY(0);
}


/* CONTACT */
.contact {
    width: 100%;
    padding: 50px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f6a192;
}

.contact p {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
}

.contact p a {
    color: #f6a192;
    text-decoration: none;
}

.contact p a:hover {
    text-decoration: underline;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    background-color: #444;
}

.contact-form .btn {
    align-self: center;
    padding: 12px 28px;
    background: #f6a192;
    border-radius: 40px;
    box-shadow: 0 0 10px #f6a192;
    font-size: 20px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.contact-form .btn:hover {
    background: #f6c492;
    transition: 0.3s ease;
    box-shadow: 0 0 15px #f6c492;
}


/* FOOTER */
.footer {
    width: 100%;
    padding: 50px 8% 30px;
    text-align: center;
    color: #fff;
    position: relative;
}

.footer p {
    font-size: 16px;
    color: #aaa;
}


/* MEDIA QUERIES FOR BIGGER SCREENS */
@media (min-width: 1875px) {
    /* HOME */
    .home-content h1{
        font-size: 96px;
    }
    .home-content h3 {
        font-size: 60px;
    }
    .home-img img {
        max-width: 520px;
    }

    /* ABOUT */
    .about-img img {
        max-width: 520px;
    }
    .about-content h2 {
        font-size: 50px;
    }
    .about-content p {
        font-size: 22px;
        line-height: 1.8;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 50px;
    }
    .skill-item {
        width: 340px;
        height: 340px;
    }
    .skill-item i {
        font-size: 340px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 50px;
    }
    .contact p {
        font-size: 22px;
    }
    .contact-form {
        max-width: 700px;
    }
    .contact-form label {
        font-size: 20px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media (min-width: 2300px) {
    /* HOME */
    .home-content h1{
        font-size: 128px;
    }
    .home-content h3 {
        font-size: 76px;
    }
    .home-img img {
        max-width: 640px;
    }

    /* ABOUT */
    .about-img img {
        max-width: 640px;
    }
    .about-content h2 {
        font-size: 60px;
    }
    .about-content p {
        font-size: 26px;
        line-height: 1.8;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 60px;
    }
    .skill-item {
        width: 400px;
        height: 400px;
    }
    .skill-item i {
        font-size: 400px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 60px;
    }
    .contact p {
        font-size: 26px;
    }
    .contact-form {
        max-width: 800px;
    }
    .contact-form label {
        font-size: 22px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

/* MEDIA QUERIES FOR SMALLER SCREENS */
@media (max-width: 1690px) {
    /* HOME */
    .home-content h1{
        font-size: 68px;
    }
    .home-content h3 {
        font-size: 45px;
    }
    .home-img img {
        max-width: 460px;
    }

    /* ABOUT */
    .about-img img {
        max-width: 460px;
    }
    .about-content h2 {
        font-size: 45px;
    }
    .about-content p {
        font-size: 20px;
        line-height: 1.8;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 45px;
    }
    .skill-item {
        width: 280px;
        height: 280px;
    }
    .skill-item i {
        font-size: 280px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 45px;
    }
    .contact p {
        font-size: 20px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media (max-width: 1462px) {
    /* HOME */
    .home-content h1{
        font-size: 60px;
    }
    .home-content h3 {
        font-size: 40px;
    }
    .home-img img {
        max-width: 420px;
    }

    /* ABOUT */
    .about-img img {
        max-width: 420px;
    }
    .about-content h2 {
        font-size: 50px;
    }
    .about-content p {
        font-size: 18px;
        line-height: 1.6;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 50px;
    }
    .skill-item {
        width: 240px;
        height: 240px;
    }
    .skill-item i {
        font-size: 240px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media screen and (max-width: 1316px) {
    /* HOME */
    .home {
        flex-direction: column; /* Stack elements vertically */
        justify-content: center;
        align-items: center;
    }
    .home-content {
        max-width: 100%; /* Make the content take full width */
        text-align: center; /* Center-align the text */
    }
    .home-content h1{
        font-size: 80px;
    }
    .home-content h3 {
        font-size: 60px;
    }
    .home-img img {
        max-width: 500px;
        margin-top: 140px; /* Add some margin above and below the image */
    }
    .home-buttons {
        justify-content: center;
    }

    /* ABOUT */
    .about {
        justify-content: center;
        align-items: center;
    }
    .about-img img {
        display: none;
    }
    .about-content {
        max-width: 80%; /* Make the content take full width */
        text-align: center; /* Center-align the text */
    }
    .about-content h2 {
        font-size: 50px;
    }
    .about-content p {
        font-size: 24px;
        line-height: 1.8;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 50px;
    }
    .skill-item {
        width: 240px;
        height: 240px;
    }
    .skill-item i {
        font-size: 240px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 50px;
    }
    .contact p {
        font-size: 20px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media screen and (max-width: 1212px) {
    /* HOME */
    .home-content h1{
        font-size: 70px;
    }
    .home-content h3 {
        font-size: 50px;
    }
    .home-img img {
        max-width: 450px;
    }

    /* ABOUT */
    .about-content h2 {
        font-size: 45px;
    }
    .about-content p {
        font-size: 22px;
        line-height: 1.7;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 45px;
    }
    .skill-item {
        width: 240px;
        height: 240px;
    }
    .skill-item i {
        font-size: 240px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 45px;
    }
    .contact p {
        font-size: 20px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media screen and (max-width: 1013px) {
    /* HOME */
    .home-content h1{
        font-size: 60px;
    }
    .home-content h3 {
        font-size: 40px;
    }
    .home-img img {
        max-width: 380px;
    }
    .home {
        padding-top: 50px;
    }

    /* ABOUT */
    .about-content h2 {
        font-size: 40px;
    }
    .about-content p {
        font-size: 20px;
        line-height: 1.6;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 40px;
    }
    .skill-item {
        width: 220px;
        height: 220px;
    }
    .skill-item i {
        font-size: 220px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 40px;
    }
    .contact p {
        font-size: 18px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media (max-width: 814px) {
    /* HOME */
    .home-content h1{
        font-size: 55px;
    }
    .home-content h3 {
        font-size: 35px;
    }
    .home-img img {
        max-width: 340px;
    }
    .home {
        padding: 50px 5% 0; /* 50 px top padding, 8% left and right, 0 bottom */
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 65px; /* Position it below the logo */
        left: 10%; /* Align with the logo */
        width: 80%; /* Take a good portion of the screen */
        height: 0; /* Collapsed state */
        overflow: hidden; /* Hide content when collapsed */
        background-color: transparent;
        transition: height 0.3s ease; /* Smooth height transition */
    }
    .navbar.active {
        height: auto; /* Expand to fit the contents */
    }
    .navbar a {
        margin: 5px 0;
        font-size: 24px;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease;
        animation: none; /* Override initial animation */
    }
    .navbar.active a {
        opacity: 1;
        transform: translateY(0);
    }
    .navbar.active a:nth-child(1) {
        transition-delay: 0.1s;
    }
    .navbar.active a:nth-child(2) {
        transition-delay: 0.2s;
    }
    .navbar.active a:nth-child(3) {
        transition-delay: 0.3s;
    }
    .menu-icon {
        display: block;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
    .header {
        padding: 20px 10%;
        width: 100%;
        z-index: 100;
        top: 0;
    }
    .home {
        transition: margin-top 0.3s ease; /* Smooth transition for the push-down effect */
    }
    .logo {
        font-size: 26px;
    }

    /* ABOUT */
    .about-content h2 {
        font-size: 40px;
    }
    .about-content p {
        font-size: 20px;
        line-height: 1.6;
    }

    /* SKILLS */
    .skills-grid {
        gap: 20px;
    }

    .skills h2 {
        font-size: 40px;
    }
    .skill-item {
        width: 180px;
        height: 180px;
    }
    .skill-item i {
        font-size: 180px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 40px;
    }
    .contact p {
        font-size: 18px;
    }
    .contact-form {
        max-width: 600px;
    }
    .contact-form label {
        font-size: 18px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 18px;
    } 
}

@media (max-width: 667px) {
    /* HOME */
    .and-im-a {
        display: none;
    }
    .home-buttons a i {
        font-size: 22px;
        width: 45px;
        height: 45px;
    }
    .btn {
        padding: 10px 25px;
        font-size: 15px;
    }
    .navbar a {
        font-size: 15px;
    }
    .logo {
        font-size: 20px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 35px;
    }
    .contact p {
        font-size: 16px;
    }
    .contact-form label {
        font-size: 16px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 16px;
    } 
}

@media (max-width: 495px) {
    /* HOME */
    .home-content h1{
        font-size: 45px;
    }
    .home-content h3 {
        font-size: 30px;
    }
    .home-img img {
        max-width: 280px;
    }

    /* ABOUT */
    .about-content h2 {
        font-size: 35px;
    }
    .about-content p {
        font-size: 17px;
        line-height: 1.5;
    }

    /* SKILLS */
    .skills-grid {
        gap: 5px;
    }

    .skills h2 {
        font-size: 35px;
    }
    .skill-item {
        width: 140px;
        height: 140px;
    }
    .skill-item i {
        font-size: 140px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 30px;
    }
    .contact p {
        font-size: 15px;
    }
    .contact-form label {
        font-size: 15px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 15px;
    }
    .contact-form .btn {
        padding: 10px 25px;
        font-size: 16px;
    }
}

@media (max-width: 408px) {
    /* HOME */
    .home-content h1{
        font-size: 38px;
    }
    .home-content h3 {
        font-size: 22px;
    }
    .home-img img {
        max-width: 200px;
    }
    .home-buttons a i {
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    .btn {
        padding: 8px 20px;
        font-size: 12px;
    }
    .logo {
        font-size: 18px;
    }

    /* ABOUT */
    .about-content h2 {
        font-size: 32px;
    }
    .about-content p {
        font-size: 16px;
        line-height: 1.4;
    }

    /* SKILLS */
    .skills h2 {
        font-size: 32px;
    }
    .skill-item {
        width: 120px;
        height: 120px;
    }
    .skill-item i {
        font-size: 120px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 24px;
    }
    .contact p {
        font-size: 13px;
    }
    .contact-form label {
        font-size: 13px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 13px;
    } 
    .contact-form .btn {
        padding: 8px 22px;
        font-size: 14px;
    }

    /* FOOTER */
    .footer p {
        font-size: 13px;
    }
}

@media (max-width: 347px) {
    /* HOME */
    .home-content h1{
        font-size: 32px;
    }
    .home-content h3 {
        font-size: 18px;
    }
    .home-img img {
        max-width: 150px;
    }
    /* ABOUT */
    .about-content h2 {
        font-size: 28px;
    }
    .about-content p {
        font-size: 13px;
        line-height: 1.2;
    }
    /* SKILLS */
    .skills h2 {
        font-size: 28px;
    }
    .skill-item {
        width: 100px;
        height: 100px;
    }
    .skill-item i {
        font-size: 100px;
    }

    /* CONTACT */
    .contact h2 {
        font-size: 23px;
    }
    .contact p {
        font-size: 12px;
    }
    .contact-form label {
        font-size: 12px;
    }
    .contact-form input,
    .contact-form textarea {
        font-size: 12px;
    } 
    .contact-form .btn {
        padding: 8px 22px;
        font-size: 13px;
    }

    /* FOOTER */
    .footer p {
        font-size: 13px;
    }
}


/* ANIMATIONS */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}