/* import poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* poppins: main font, sans-serif: fallback font */
}

body {
    background: #1f242d;
    color: #fff;

}

.header {
    position: fixed; /* stay on the screen, even when you scroll down */
    top: 0; /* position at very top of webpage */
    left: 0; /* position at very left of webpage */
    width: 100%; /* take up full width of the page, no matter the screen size */
    padding: 20px 10%; /* internal space - 20px top & bottom, 10% of width on right & left */
    background: transparent;
    display: flex; /* sets layout to flexbox - allows arranging child elements in a flexible way */
    justify-content: space-between; /* spreads child elements across screen, with even space in-between */
    align-items: center; /* ensures child elements are vertically alligned in the center */
    z-index: 100; /* controls stacking order of elements: will be higher than any elements lower than 100 */
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none; /* removes decoration that can typically appear on links (like underlines) */
    font-weight: 600; /* sets thickness to 600 (semi-bold) (bold is 700) */
    /* cursor: pointer; keeps the cursor the same when hovering over */
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a { /* a targets all elements inside the class .navbar */
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px; /* adds a 35px margin to the left side of each navigation link */
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i)) /* we declared --i in html */
}

.navbar a:hover,
.navbar a.active { /* pseudo-class: applies styles to an element when the user hovers mouse over it */
    color: #39ff14;
}

.home {
    position: relative; /* positioned relative to its normal position (remains in flow of page, but can now use top, left, right, & bottom properties */
    width: 100%;
    height: 100vh; /* 100% of viewport height - take up full height of browser window */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0; /* 70 px top padding, 10% left and right, 0 bottom */
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) { /* Selects the 2nd occurence of an <h3> element (And I'm a ...) */
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #39ff14;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img {
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #39ff14;
    border-radius: 50%;
    font-size: 20px;
    color:#39ff14;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .3s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: #39ff14;
    color: #1f242d;
    box-shadow: 0 0 10px #39ff14;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #39ff14;
    border-radius: 40px;
    box-shadow: 0 0 10px #39ff14;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transaform: translateY(0);
    }

    50% {
        transaform: translateY(-24px);
    }

    100% {
        transaform: translateY(0);
    }
}